extends layout

block content
	each server in status
		p The #{server.name} server is <strong>#{server.link}</strong>
	each server in status
		h3 #{server.name} Rules
		ul.rules
			each rule in server.rules
				li #{rule}
	h3 Map
	p The map is available at 
		a(href='http://' + link target='_blank')
			<strong>#{link}</strong>
	each server in status
		if server.players.length
			h3 #{server.name} Players
			p
				ul.players.cleanList
					each player in server.players
						li
							img(src='http://mcsk.in/helm/' + player.username + '/' + imgSize)
							= ' ' + player.username
